In [0]:
import tweepy
import csv
import time

consumer_key = 'g0hI4qcH29DD9HcxMGC1YHSsR'
consumer_secret = 'Su60HdibbwAcX9yxPNdpJbZdLzQPUXDACTU6vkksAaxQnOaqP9'
access_token = '337172466-Np4lkokRIzAuPYcoYAdskoW1dERuWbRnyFDb8ncp'
access_token_secret = 'ME0cGkdlRU0Xp0Vqp95vZb8RXwiKFoZzFIpjGnrPD8pVy'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

In [5]:
followers_list = []   #create an empty list to store followers

for user in tweepy.Cursor(api.followers, screen_name="rpg_ghost").items():      #for each follower in the followers list we will iterate through cursor, the documentation of tweepy is in this format which we've written
    #print('follower: ' + user.screen_name)
    followers_list.append(user.screen_name)                                     #now we need to add followers into our empty list, this can be done by append function

print(followers_list)

['NinjadudeLUL', 'erz4h', 'Varinde37537395']

In [7]:
import pandas as pd

df = pd.DataFrame(followers_list)      #convert that list we made into a data frame by using pandas

df.head()

                 0
0     NinjadudeLUL
1            erz4h
2  Varinde37537395

In [0]:
df.to_csv('rpg_followers.csv')         #save into a csv file